<form method="post" action="/create">
  <label for="filename">Add a new document:</label><br>
  <div>
    <input id="filename" name="filename">
    <button type="submit">Create</button>
  </div>
</form>
